/Lab8/HelloWorldFx/HelloWorld/nbproject/private/
/Lab8/HelloWorldFx/HelloWorld/build/
/Lab8/HelloWorldFxUsingCss/HelloWorldDemoUsingCss/nbproject/private/
/Lab8/HelloWorldFxUsingCss/HelloWorldDemoUsingCss/build/
/Lab8/HelloWorldFx/HelloWorld/dist/
/Lab8/HelloWorldFxUsingCss/HelloWorldDemoUsingCss/dist/
